body {
    background-color:rgb(177, 241, 250);;
}

h1 {
    color:rgb(0, 0, 0);
}

h2 {
    width: 6in;
    background-color:rgb(49, 77, 110);
    color: #ffffff;
}

h3 {
    color: navy;
}

p {
    color: hsl(236, 41%, 15%);
    text-align: justify;
}

p, ul, ol {
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border: 5px dashed rgb(255, 255, 255);
    border-radius: 20px;
}

section {
    margin: 10px 10px 10px 10px;
    width: 500px;
    background-color:wheat;
}

.course {
    font-size: 1.15rem;
    color:orchid;
}

ol {
    width: 500px;
}

*[lang^=en] {
    color: rgb(0, 70, 0);
}

#story {
    text-decoration: blue wavy underline;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 50vh;
}

input {
    width: 10cm;
}

button {
    width: 10vw;
}

button:hover {
    color: rgb(255, 0, 255);
}