body {
    background-color:rgb(177, 241, 250); /* set background color to baby blue */
}

* {
    font-family: 'Lato', sans-serif; /* universal font change */
}

header {
    display: none; /* hide top header element */
}

h1 {
    color:rgb(0, 0, 0); /* apply black color to main header */
}

h2 {
    width: 6in;
    background-color:rgb(49, 77, 110); /* apply blue color to date header */
    color: #ffffff;
}

h3 {
    color: navy; /* apply navy color to diary and task list headers */
}

video {
    padding-left: 120px; /* move video to center of box */
    order: 2;
}

p {
    color: hsl(236, 41%, 15%); /* apply dark blue color to paragraph text */
    text-align: justify;
}

ul {
    margin: auto; /* move lists to center */
    order: 3;
}

p:active {
    color: greenyellow; /* paragraph text color change when click */
}

p, ul, ol { /* formatting for paragraph and lists */
    position: static; 
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border: 5px dashed rgb(255, 255, 255);
    border-radius: 20px;
}

section { /* section formatting */
    display: flex;
    flex-direction: column;
    flex-wrap: column wrap;
    justify-content: space-evenly;
    margin: 10px 10px 10px 10px;
    width: 500px;
    background-color:wheat;
}

.images {
    position: sticky; /* make image follow scroll */
    top: 10px;
}

.course { /* special style for elements with class names */
    display: inline-block;
    font-size: 1.15rem;
    color:orchid;
}

ol {
    width: 500px; /* ordered list width */
}

*[lang^=en] {
    color: rgb(0, 70, 0);
}

#story {
    text-decoration: blue wavy underline;
}

form { /* formatting for bottom form */
    display: grid;
    grid-template-rows: 100px 100px 100px;
    row-gap: 25px;
    justify-items: center;
    min-height: none;
    max-height: none;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50vh;
}

input {
    width: 10cm;
}

button:hover {
    color: rgb(255, 0, 255); /* change button color when mouse hover */
}

@media (max-width: 10000px) { /* media query for screen size */
    button {
        width: 10vw;
        height: 50px;
        min-height: 20px;
        max-height: 100px;
    }
}