body {
    background-color:rgb(177, 241, 250);;
}

h1 {
    color:rgb(0, 0, 0);
}

h2 {
    width: 6in;
    background-color:rgb(49, 77, 110);
    color: #ffffff;
}

h3 {
    color: navy;
}

p {
    color: hsl(236, 41%, 15%);
}

section {
    width: 500px;
    background-color:wheat;
}

.course {
    font-size: 1.15rem;
    color:orchid;
}

form {
    width: 50vh;
}

input {
    width: 10cm;
}

button {
    width: 10vw;
}